.tag {
  display: flex;
  color: #ffffff;
}

.tag__p {
  background: #ff6060;
  width: 115px;
  border-radius: 10px;
  height: 25px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px !important;
  margin: 0;
}


@media (max-width: 455px) {
.tag__p {
  background: #ff6060;
  border-radius: 10px;
  height: 25px;
  font-size: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px !important;
  margin: 0;
  padding: 0 10px;
}
}