.accordions {
  width: 1028px;
  margin-top: 50px;
}

.img_apropos_Kasa {
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 38px;
  max-width: 1240px;
}
.a_propos_Kasa {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  object-fit: cover;
}
