.Section7 {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 437px;
  bottom: 0%;

  background: #f7f7f7;
  border-radius: 25px;
}

.Box {
  position: absolute;
  left: 4.03%;
  right: 68.55%;
  top: 6.76%;
  bottom: 52.23%;
}

.box2 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
}
