/* .Accordion_Logement {
display: flex;
justify-content: center;
}

.equipments {
   display: flex;
   flex-direction: column;
   line-height: 0.5rem;
}


.infos__logement {
   width: 1240px;
   margin: 0 auto;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}

.TLT {
   width: 635px;
}

.TLT__title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
color: #FF6060;
margin: 0;
}

.TLT__location {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 142.6%;
  margin: 0;
  color: #FF6060;
}


.NPR {

display: flex;

}

.NPR__name {
   display: flex;
   text-align: right;
   width: 70px;
   height: 52px;
   font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
color: #FF6060;
margin-right: 15px;
}

.NPR__picture {
   width: 64px;
height: 64px;
border-radius: 100%;
object-fit: cover;
background-position: center;
}

.NPR__rating {
   margin: 0;
} */


.Accordion_Logement {
   display: flex;
   justify-content: center;
   }
   
   .equipments {
      display: flex;
      flex-direction: column;
      line-height: 0.5rem;
   }
   
   
   .infos__logement {
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      max-width: 1240px;
      width: 90%;
   }
   
   
   
   .TLT__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   color: #FF6060;
   margin: 0;
   }
   
   .TLT__location {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 142.6%;
     margin: 0;
     color: #FF6060;
   }
   
   
   .NPR {
   
   display: flex;
   
   }
   
   .NPR__name {
      display: flex;
      text-align: right;
      width: 70px;
      height: 52px;
      font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 142.6%;
   color: #FF6060;
   margin-right: 15px;
   }
   
   .NPR__picture {
      width: 64px;
   height: 64px;
   border-radius: 100%;
   object-fit: cover;
   background-position: center;
   }
   
   .NPR__rating {
      margin: 0;
   }

   @media (max-width: 767px) {
      .TLT__title {
         font-size: 18px;
      }

      .TLT__location {
         font-size: 14px;
      }

.infos__logement {
   display: flex;
   flex-direction: column;
   
}

.resp {
   display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.NPR {
   display: flex;
   align-items: center;
}

.NPR__picture {
   width: 32px;
height: 32px;}

.NPR__name {
   font-size: 12px;
   align-items: center;
   width: 30px;
}

   }