.accordion__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    padding: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    height: 15px;
}

.accordion__title:hover,.active .accordion__title {
    cursor: pointer;
    background: #FF6060;
}

.accordion__icon {
    position: relative;
    width: 10px;
    height: 1px;
    
    
}

.accordion__icon::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background: #333;
    

}


.accordion__content {
    visibility: hidden;
    height: auto;
    opacity: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: all .2s ease-in;
    margin-bottom: 30px;
}

.active .accordion__content {
    display: flex;
    align-items: center;
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 1rem;
    opacity: 1;
    border-radius: 5px;
    background: #f7f7f7;
    font-size: 24px;
    color: #FF6060;
    line-height: 142.6%;
    font-weight: 400;
  }



.accordion.active img {
    transform:rotate(180deg);
    transition: 0.3s;
}

@media (max-width: 767px) {
    .active .accordion__content {
        font-size: 14px;
    }

    .accordion__title {
        height: 4px;
        font-size: 14px;
    }
}
