.Accordion_Logement {
  max-width: 1380px;
  margin: 0 auto;
}

.accordionL {
  max-width: 1240px;
  width: 90%;
  margin: 0 5%;
}

.accordion__title__logement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff6060;
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat';
  font-size: 24px;
}

.false {
  height: 70px;
}

.active {
  height: 100%;
}

.accordion__title:hover,
.active .accordion__title {
  cursor: pointer;
  background: #ff6060;
}

.accordion__icon {
  position: relative;
  width: 10px;
  height: 1px;
}

.accordion__icon::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 1px;
  background: #333;
}

.accordion__content__logement {
  visibility: hidden;
  height: auto;
  opacity: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: all 0.2s ease-in;
  margin-bottom: 10px;
}

.active .accordion__content__logement {
  visibility: visible;
  overflow: visible;
  padding: 1rem;
  opacity: 1;
  border-radius: 5px;
  background: #f7f7f7;
  font-family: 'Montserrat';
  font-size: 24px;
  color: #ff6060;
  line-height: 142.6%;
  font-weight: 400;
}

main {
  margin: 0 auto;
}

.accordionL.active img {
  transform: rotate(180deg);
  transition: 0.3s;
}

.column {
  display: flex;
  flex-direction: column !important;
}

.NPR__rating div {
  display: flex;
}

@media (max-width: 767px) {
  .Accordion_Logement {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .accordion__title__logement {
    height: 20px;
    font-size: 13px;
  }

  .active .accordion__content__logement {
    font-size: 14px;
  }
}
