.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
margin-top: 50px;

}

.header__Kasa {
  color: #FF6060;
}

.navBar {
  left: 75.08%;
  right: 0%;
  top: 25%;
  bottom: 25%;
}

.navHome {
  color: #FF6060;
  text-decoration: none;
  margin-right: 57px;
  
  font-style: normal;
  font-size: 24px;
  line-height: 142.6%;
}

.navAbout {
color: #FF6060;
  text-decoration: none;
  font-size: 24px;
}

.navHome:hover {
  border-bottom: 2px solid #FF6060;
}

.navAbout:hover {
  border-bottom: 2px solid #FF6060;
}

nav {
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  margin: 0 auto;
}

@media (max-width: 767px) {
.header__Kasa {
  width: 100px;
}

.header__nav {
  margin-left: 40px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navHome {
  font-size: 14px;
  margin-right: 26px;
  margin-left: 30px;
}
.navAbout {
  width: 65px;
  font-size: 14px;
}
}

@media (max-width: 1440px) {
  .navBar {
   margin-right: 40px;
  }
  
  .header__logo {
    margin-left: 40px;
  }

}