.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat';
margin-top: 50px;

}

.header__home {
  margin-left: 5px;
}

.header__S {
  margin-left: 15px;
}

.header__A {
  margin-left: 5px;
}

.header__porte {
  margin-left: -15px;
  margin-bottom: 5px;
}

.navBar {
  left: 75.08%;
  right: 0%;
  top: 25%;
  bottom: 25%;
}

.navHome {
  color: #FF6060;
  text-decoration: none;
  margin-right: 57px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}

.navAbout {
color: #FF6060;
  text-decoration: none;
  font-size: 24px;
}

.navHome:hover {
  border-bottom: 2px solid #FF6060;
}

.navAbout:hover {
  border-bottom: 2px solid #FF6060;
}

nav {
  max-width: 1240px;
  margin-left: 100px;
  margin-right: 100px;
  margin: 0 auto;
}
