/* .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1240px;
    border-radius: 25px;
    top: 2rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

.left-arrow {
    position: absolute;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    
}

.active .imageOfSlider {
    border-radius: 20px;
    height: 415px;
    width: 1240px;
    object-fit: cover;
   
}

.slide__number {
    display: flex;
    justify-content: center;
color: #FFFFFF;
font-family: 'Montserrat';
    margin-top: -40px;
    font-size: 18px;
    margin-bottom: 20px;
} */


/* @media (max-width: 799px){

    
   .active .imageOfSlider {
        width: 100%;
        height: 225px;
        border-radius: 10px;
        background-position: center;
        object-fit: cover;
        background-size: cover;
    }

    .slider {
        height: 100%;
       
    }

    .slider .active {
        height: 100%;
    }

    .slideNumber {
        margin-top: 200px;
    }

} */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    height: 415px;
    width: 90%;
    margin-top: 20px;
}

.slide .active{
    width: 100%;
    height: 100%;
}

.left-arrow {
    font-size: 7rem;
    color: white;
    z-index: 10;
    cursor: pointer;
}

.right-arrow {
    font-size: 7rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    
}

.imageOfSlider {
    display: flex;
    background-image: url(https://s3-eu-west-1.amazonaws.com/course.oc-static.com/projects/front-end-kasa-project/accommodation-20-1.jpg);
    width: 90vw;
    max-width: 1240px;
    height: 415px;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}

.slide__number {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Montserrat';
    margin-top: 350px;
}


@media (max-width: 767px) {

    .imageOfSlider {
        height: 255px;
    }

    .slider {
        height: 255px;
    }

    .left-arrow {
        font-size: 3rem;
    }

    .right-arrow {
        font-size: 3rem;
    }

    .slide__number {
        margin-top: 200px;
    }
  
  }