main {
  margin: 0 100px;
  height: auto;
  max-width: 1240px;
}

.Gallery {
  background: #f6f6f6;
  border-radius: 25px;
  margin: 0 auto;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.section__cards {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section__cards a {
  width: 320px;
  height: 320px;
  padding: 10px;
}

.card__title {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  bottom: 1px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
  margin-bottom: 0;
  margin-left: -10px;
}

.card__pictures {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 10px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .Gallery {
    background: white;
  }

  .section__cards a {
    width: 90%;
    padding: 10px 0;
  }
}
