main {
  margin-left: 100px;
  margin-right: 100px;
  height: auto;
  max-width: 1240px;
}

.Gallery {
  width: auto;
  height: auto;
  top: 340px;
  background: #f6f6f6;
  border-radius: 25px;
  margin: 0 auto;
  padding-bottom: 3.5em;
}

.card {
  height: 340px;
  width: 340px;
  position: relative;
  top: 0%;
  margin-top: 56px;
  margin-left: 53px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.section__cards {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  bottom: 2px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
}

.card__pictures {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1250px) {
  .Gallery{
    margin-left: 100px;
    margin-right: 100px;
  }
}



