main {
  margin-left: 100px;
  margin-right: 100px;
  height: auto;
  max-width: 1240px;
}

.Gallery {
  width: auto;
  height: auto;
  top: 340px;
  background: #f6f6f6;
  border-radius: 25px;
  margin: 0 auto;
  padding-bottom: 3.5em;
}

.card {
  height: 340px;
  width: 340px;
  position: relative;
  top: 0%;
  margin: 30px;
  display: flex;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.section__cards {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__title {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  bottom: 1px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
  margin-bottom: 0;
  margin-left: -10px;
}

.card__pictures {
  height: 340px;
  width: 340px;
  position: relative;
  display: flex;
  border-radius: 10px;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1216px) {
  .card{
    width: 275px;
    height: 230px;
  }

  .card__pictures {
    height: 275px;
  }
}

@media (max-width: 1021px) {
  .card{
    width: 320px;
    height: 260px;
  }

  .card__pictures {
    /* height: 300px; */
  }

  .Gallery{
    background: none;
  }
}

@media (max-width: 767px) {
  .section__cards {
    width: 100%;
    
    
  }

  .section__cards a {
    width: 100%;
  }

  .card {
    
    margin: 5%;
  }

  .card__pictures {
    
    
  }

  .Gallery {
    display: flex;
    justify-content: center;
  }
}
