.accordions {
  max-width: 1028px;
  
}

.img_about_Kasa {

  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 38px;
  width: 100%;
  height: 223px;
  background-image: url(C:\Users\sydai\Documents\OCprojet7\frontend\src\assets\AboutBanner.png);
 
}
.AboutKasa {
  display: flex;
  justify-content: center;
  margin: auto;
  object-fit: cover;
 max-width: 1240px;
 
 
}



@media (max-width: 992px) {
  .header__nav {
    margin-right: 50px;
    margin-left: 50px;
  }
  .accordions {
    margin-right: 50px;
    margin-left: 50px;
  }
  .AboutKasa {
    margin-right: 50px;
    margin-left: 50px;
    object-fit: cover;
  }
}

@media (max-width: 1250px) {
  .header__nav {
    margin-right: 50px;
    margin-left: 50px;
  }
  .AboutKasa {
    margin-right: 50px;
    margin-left: 50px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .accordions {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  } 


}
@media (max-width: 425px) {
.img_about_Kasa {

  border-radius: 10px;
  margin-bottom: 0px; 
  margin-top: 38px;
  width: 92%;
  height: 223px;
  background-image: url(C:\Users\sydai\Documents\OCprojet7\frontend\src\assets\AboutBannerMobile.png);
 object-fit: cover;
}

.AboutKasa {
  margin-left: 30px;
  margin-right: 30px;
}

}